<li class="hm-minicart">
    <div class="hm-minicart-trigger">
        <span class="item-icon"></span>
        <span id="total1" class="item-text">£0<span class="cart-item-count"></span></span>
    </div>
    <span></span>
    <div class="minicart">
        <ul id="cart" class="minicart-product-list">
        </ul>
        <p class="minicart-total">SUBTOTAL: <span id="total2">£0</span></p>
        <div class="minicart-button">
            <a href="#"
               class="li-button li-button-fullwidth li-button-dark">
                <span>View Full Cart</span>
            </a>
            <a href="{% url 'shop:checkout' %}" class="li-button li-button-fullwidth">
                <span>Checkout</span>
            </a>
        </div>
    </div>
</li>
<!-- Header Mini Cart Area End Here -->